@font-face {
  font-family: "Press Start 2P";
  src: url(./public/PressStart2P.ttf);
  font-display: swap;
}


body {
  font-family: "Press Start 2P", system-ui;
  font-size: 1.2rem;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

#textbox {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 2vh;
  border-radius: 3px;
  outline-style: solid;
  padding: 1rem;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  background: rgba(88, 10, 89, 0.6);
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  word-spacing: 0.2rem;
  filter: drop-shadow(0 0 0.75rem rgb(112, 112, 112));
  /* overflow: auto; */
}
a{
  color: antiquewhite;
}
.ui-text {
  margin: 0; 
  user-select: none;
}

.ui-close-btn {
  font-family: inherit;
  border-style: none;
  border: radius 3px;
  padding: 1rem;
  font-size: inherit;
}

.ui-sound-btn{
  font-family: inherit;
  position: absolute;
  border-style: none;
  border: radius 3px;
  padding: 1rem;
  font-size: inherit;

}

.buttonC {
  align-self: flex-end;
  margin-top: 1rem;
}

.buttonS {
  position: fixed;
  bottom:2%;
  right: 4%;
}

.note {
  position: fixed;
  bottom:0%;
  right: 6%;
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  user-select: none;
}